.about {
  padding: 4rem 0;
  padding-bottom: 0;
}

.about-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4rem;
  padding-inline: 8%;
}

.about-text {
  flex: 1;
  padding-right: 2rem;
  background-color: #fff;
  width: 90%;
  height: 90%;
  border-radius: 20px;
  padding: 2rem;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.about-text:hover {
  transform: translateY(-10px);
}

.about-text h2 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  color: #333;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.about-text p {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 1.5rem;
  color: #666;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.05);
}

.about-image {
  flex: 1;
  text-align: center;
}

.about-image img {
  width: 80%;
  height: auto;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.about-image img:hover {
  transform: scale(1.02);
}

.additional-info {
  text-align: center;
  background-color: #fff;
  width: 80%;
  margin: 0 auto;
  padding: 2rem;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  margin: 5%;
}

.additional-info p {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 1.5rem;
  color: #666;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.05);
}

.additional-info:hover {
  transform: translateY(-10px);
}

.about-cta {
  text-align: center;
}

.cta-image {
  position: relative;
  display: inline-block;
}

.cta-image img {
  width: 80%;
  height: auto;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.cta-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cta-button a {
  display: inline-block;
  padding: 1rem 2rem;
  background-color: #fff;
  color: #333;
  font-size: 1.2rem;
  text-decoration: none;
  border-radius: 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.cta-button a:hover {
  background-color: #333;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .about-content {
    flex-direction: column;
  }

  .about-text {
    padding-right: 0;
    padding: 0 !important;
    margin-bottom: 2rem;
  }
  .about-text h2 {
    padding-inline: 10%;
    font-size: 1.5rem;
  }

  .about-image img {
    width: 100%;
  }
  .about-text p {
    font-size: 0.9rem;
    margin: 10%;
  }
  .about-cta {
    display: none;
  }
}
