.about {
  display: flex;
  flex-direction: column;
  padding: 20px;
  padding-left: 10%;
  padding-right: 10%;
}

.about-content {
  padding-top: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.about-text {
  flex: 1;
  margin-right: 20px;
}

.about-text h1 {
  font-size: 3rem;
  color: #226663;
  margin-bottom: 10px;
}

.about-text h3 {
  font-size: 1.5rem;
  color: #6E5084;
  margin-bottom: 20px;
  font-weight: 400;
}

.about-text p {
  font-size: 1.1rem;
  margin-bottom: 10px;
  color: #226663;
}

.about-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-image img {
  max-width: 100%;
  height: auto;
}

.highlight-year {
  font-weight: bold;
}

.mobile-image-about {
  display: none;
}

@media (max-width: 768px) {
  .about {
    padding-left: 5%;
    padding-right: 5%;
  }

  .about-content {
    flex-direction: column;
    align-items: center;
  }

  .about-text {
    order: 1;
    margin-right: 0;
    text-align: center;
  }

  .about-image {
    order: 2;
    margin-top: 20px;
    display: none;
  }

  .mobile-image-about {
    display: flex;
    justify-content: center;
  }

  .mobile-image-about img {
    max-width: 100%;
    width: 80%;
    height: auto;
  }

  .about-text p {
    order: 3;
  }
}