.contact {
  display: flex;
  flex-direction: column;
  padding-top: 5%;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  width: 75%;
  margin: 0 auto;
}

.contact-info {
  flex: 1;
  margin-right: 20%;
  margin-left: 5%;
}

.contact-info h2 {
  margin-bottom: 10px;
  color: #226663;
  font-size: 3.2rem;
  text-align: left;
}

.contact-info p {
  margin-top: 10%;
  margin-bottom: 20px;
  font-size: 1.1em;
  color: #6E5084;
}

.contact-form {
  flex: 1;
}

.label-info {
  color: #6E5084;
  font-weight: 100;
}

.contact form {
  padding-right: 15%;
  margin-block: 5%;
  display: flex;
  flex-direction: column;
}

.contact label {
  margin-bottom: 5px;
}

.contact input,
.contact textarea {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #6E5084;
  border-radius: 20px;
  background-color: #F7F1FC;
}

.contact button {
  padding: 20px 40px;
  border: none;
  border-radius: 15px;
  background-color: #6E5084;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 40%;
  font-weight: 700;
}

.contact button:hover {
  background-color: #0056b3;
}

@media (max-width: 768px) {
  .contact {
    margin: 0 auto;
    padding: 0;
    padding-right: 20px;
  }

  .contact-info {
    margin: 0;
    text-align: center;
  }

  .contact-info h2 {
    font-size: 1.8rem;
  }

  .contact-info p {
    margin-top: 5%;
    font-size: 1rem;
    text-align: left;
  }

  .contact form {
    padding: 0;
  }

  .contact input,
  .contact textarea {
    width: 100%;
    margin-bottom: 10px;
  }

  .contact button {
    width: 40%;
    padding: 20px;
    margin-top: 10%;
  }
}

@media (min-width: 768px) {
  .contact {
    flex-direction: row;
  }
}