.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  /* background-color: #6E5084; */
  color: #fff;
}

.footer-left {
  flex: 1;
}

.footer-logo {
  width: 150px;
  height: auto;
}

.footer-right {
  flex: 2;
  text-align: right;
  color: #6E5084;
}

.footer-right p {
  margin: 5px 0;
}

.social-icons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    text-align: center;
  }

  .footer-right {
    text-align: center;
    margin-bottom: 20px;
  }

  .footer-left {
    margin-top: 20px;
    display: none;
  }

  .footer-mobile-logo {
    margin-block: 20px;

  }

  .footer-logo {
    width: 300px;
  }
}