.services-container {
    background-color: #6E5084;
    color: #fff;
    padding: 2rem;
    padding-inline: 14%;
}

.services-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    padding-top: 5rem;
}

.header-content {
    width: 60%;
}

.header-content p {
    font-size: 0.8rem;
    padding-right: 8rem;
}

.header-content h1 {
    font-size: 2.5rem;
}

.header-image {
    width: 35%;
}

.header-image img {
    width: 100%;
    border-radius: 10px;
}

.services-pricing {
    margin-bottom: 2rem;
    width: 100%;
    text-align: start;
}

.services-pricing h2{
    text-align: start;
    margin-bottom: 1rem;
    width: 100%;
    font-size: 2.5rem;
}

.services-pricing-h3 {
    font-size: 2rem;
    font-weight: 300;
}

.services-oneline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.service {
    color: #ffffff;
    padding: 1rem;
    margin-bottom: 1rem;
    width: 30%;
    box-sizing: border-box;
    text-align: center;
}

.service-description h3 {
    margin-top: 0;
}

.service-description {
    text-align: start;
}

.price {
    /* font-weight: bold; */
    /* font-size: 1.2rem; */
}

.services-video {
    margin-bottom: 2rem;
    text-align: center;
}

.services-video video {
    width: 100%;
    /* max-width: 600px; */
}

.services-booking {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.services-header-h1 {
    text-align: center;
    display: block;
    width: 100%;
    margin-bottom: 2rem;
    font-size: 2.5rem;
    font-weight: 300;
}

.booking-left, .booking-right {
    margin-inline: 6%;
    text-align: left;
}

.booking-left h2, .booking-right h2 {
    margin-bottom: 1rem;
}

.booking-left p, .booking-right p {
    margin: 0.5rem 0;
}

.booksalon-link a {
    color: #fff;
    text-decoration: underline;
}

.booksalon-link a:hover {
    color: #7c6d87;
}

@media (max-width: 768px) {
    .services-header {
        flex-direction: column;
    }

    .header-content, .header-image {
        width: 100%;
    }

    .services-pricing {
        flex-direction: column;
    }

    .services-oneline {
        flex-direction: column;
    }

    .service {
        width: 100%;
    }

    .services-booking {
        flex-direction: column;
    }

    .booking-left, .booking-right {
        width: 100%;
        margin-bottom: 1rem;
    }
}