.text-and-image {
    display: flex;
    padding-top: 5%;
    justify-content: space-between;
    align-items: center;
  }
  
  .text-content {
    width: 50%;
    padding: 0 0 6rem 6rem;
    box-sizing: border-box;
    gap: 0.2rem;
    display: grid;
  }

  .text-content h1 {
    font-size: 3.5rem;
    font-weight: 300;
  }
  
  .text-content h1, .text-content h2 {
    color: #226663;
    margin: 1rem 0;
  }

  .text-content h2 {
    font-size: 2.2rem;
    font-weight: 300;
  }
  
  .text-content h4 {
    color: #6E5084;
    margin: 0.8rem 0;
  }
  
  .text-content p {
    color: #6E5084;
    margin: 1rem 0;
  }
  
  .image-content {
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .image-content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    padding-right: 12%;
  }
  
  @media (max-width: 768px) {
    .text-and-image {
      flex-direction: column;
      justify-content: center;
      padding: 0;
    }
  
    .text-content {
      width: 100%;
      padding: 2rem;
    }
  
    .image-content {
      width: 100%;
      height: auto;
      margin-top: 1rem;
    }
    .text-content h1, .text-content h2 {
      font-size: 2rem;
    }
  
    .image-content img {
      height: auto;
      width: 80%;
      justify-content: center;
      display: flex;
      padding: 0;
      align-items: center;
    }
  }
  