/* Base styles */
.App {
  min-height: 100vh;
  /* background: linear-gradient(to bottom, #ffffff, #f8f9fa); */
  background: linear-gradient(to bottom, #EDD286, #c9a14a) !important;
  overflow-x: hidden;
}
